
@{
    ViewBag.Title = "DatHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5" style="text-align:center">
    <h2 style="text-align:center; color:brown">Vui lòng đăng nhập để mua hàng</h2>
    <a href="@Url.Action("DangNhap","DangNhap")" class="btn btn-dark mt-5">Đăng nhập <i class="fas fa-sign-in-alt"></i></a>
</div>
