
@{
    ViewBag.Title = "XacNhanDonHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5"style="text-align:center">
    <p style="text-align:center;color:brown">Đơn hàng của quý khách đã được chúng tôi ghi nhận. Chúng tôi sẽ liên hệ quý khách trong thời gian sớm nhất và giao hàng đúng hẹn.</p>
    <a href="@Url.Action("index","Home")" class="btn btn-dark mt-5"><i class="fas fa-shopping-cart"></i> Tiếp tục mua hàng</a>
</div>

